.logo {
  width: 180px;
  height: 184px;
}
nav {
  color: var(--color-green-0);
}
.experience {
  background-color: var(--color-green-0);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  padding: 1rem;

  color: var(--color-invert-1);
}
.top__xp {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.experience > h2 {
  padding: 0.5rem;
  font-weight: 900;
  width: 2.2rem;
  margin: 1rem;

  background-color: var(--color-base-1);
}
.xp > li {
  padding: 1rem;
}
.qualification {
  background-color: var(--color-base-2);
  color: var(--color-base-1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}
.qualification > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem;
}
.qualification > p {
  line-height: 2rem;
}
.professional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}
.professional > span {
}
