.logo {
  margin: 1rem;
}
.experience {
  background-color: var(--color-green-0);

  width: 100vw;
  height: 100vh;
  padding: 1rem;

  color: var(--color-invert-1);
  border-radius: 8px;
}
.experience > h2 {
  padding: 0.5rem;
  font-weight: 900;
  width: 2.2rem;
  margin: 1rem;

  background-color: var(--color-base-1);
  border-radius: 5rem;
}
.xp > li {
  padding: 1rem;
}
.qualification {
  background-color: var(--color-base-1);
  color: var(--color-green-2);

  border-radius: 8px;

  padding: 1rem;
  margin: 0.1rem;

  position: relative;
  top: 5rem;
}
.qualification > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem;
}
.qualification > p {
  line-height: 2rem;
}
.professional {
  padding: 1rem;
  margin: 0.1rem;

  position: relative;
}
.professional > span {
  background-color: var(--color-green-2);
}
